* {
    padding: 0;
    margin: 0 auto;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    height: 100vh;
    background-color: #fcede6;
    padding: 30px;
}
 a {
    text-decoration: none;
    color: #000;
 }

 #hero {
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
 }
.nav-container {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo {
    width: 200px;
}
.menu {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.menu a:hover {
    color: #e56712;
    transform: translateX(2px);
    font-weight: bold;
    text-transform: uppercase;
}

.menu a {
    position: relative;
}
.menu a::after {
    content: '';
    background-color: #e56712;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;

}

.menu a:hover::after {
    width: 50%;
    transition: all 0.8ms;
}
.nav-btn {
    background-color: #e56712;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
}
.nav-btn:hover {
    color: #e56712;
    background-color: #000;
}
.hero-img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #e56712;
    overflow: hidden;
    box-shadow: 2px 3px 3px 4px rgb(0 0 0 / 23%);
}
.description {
    color: #e56712;
    font-size: 24px;
}